{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">欢迎使用 ANY-GO WebApp</h1>
    <p class="lead">基于Django的ERP系统，用于管理产品、发货单和装箱单等信息。</p>
    <hr class="my-4">
    <p>无需登录即可使用所有功能，操作更加便捷。</p>
    <div class="row mt-4">
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">产品管理</h5>
                    <p class="card-text">管理产品信息、价格、分类等</p>
                    <a href="{% url 'product_list' %}" class="btn btn-primary">查看产品</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">发货单管理</h5>
                    <p class="card-text">创建、导入、管理发货单</p>
                    <a href="{% url 'shipment_list' %}" class="btn btn-primary">查看发货单</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">装箱单管理</h5>
                    <p class="card-text">管理装箱单和装箱明细</p>
                    <a href="{% url 'packing_list' %}" class="btn btn-primary">查看装箱单</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">库存管理</h5>
                    <p class="card-text">查看和修改库存数量</p>
                    <a href="{% url 'inventory_list' %}" class="btn btn-primary">查看库存</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 